@page "/opretbooking"
@using shelterJADA.Shared
@inject HttpClient Http

<h1>Opret en booking!</h1>

<input placeholder="Fornavn" @bind="fornavn" />
<input placeholder="Efternavn" @bind="efternavn" />
<input placeholder="Email" @bind="email" />
<input placeholder="Telefon" @bind="telefon" />

<input type="date" @bind="start_dato" />
<input type="date" @bind="slut_dato" />

@if (AntalKommuner != null)
{
<select>
    <option selected>Vælg Kommune</option>
    @foreach (var item in AntalKommuner)
    {
        <option>@item</option>
    }
</select>
}

<input type="button" @onclick="SendData" value="Tilføj Indkøb" />
<br />


@code {
    private string fornavn, efternavn, email, telefon;
    private DateTime start_dato = DateTime.Now;
    private DateTime slut_dato = DateTime.Now.AddDays(1);

    public List<Shelter> ShelterListe;
    public List<string> AntalKommuner = new List<string>();


    protected override async Task OnInitializedAsync()
    {
        AntalKommuner = await Http.GetFromJsonAsync<List<string>>("ShelterDB/kommune");

        @*AntalKommuner = ShelterListe.Select(x => x.Properties.Cvr_navn).Distinct().ToList();*@

    }

    protected async Task SendData()
    {
        Booking nyBooking = new Booking();
        Bruger nyBruger = new Bruger();
        Udlejet_Shelter nyUdlejet_Shelter = new Udlejet_Shelter();

        nyBruger.fornavn = fornavn;
        nyBruger.efternavn = efternavn;
        nyBruger.email = email;
        nyBruger.telefon = telefon;

        nyBooking.slut_dato = slut_dato.AddDays(1);
        nyBooking.start_dato = start_dato.AddDays(1);

        nyUdlejet_Shelter.shelter_id = "hehfewhfewf";
        nyUdlejet_Shelter.shelter_navn = "Abis Hytte med mælk";

        nyBooking.bruger = nyBruger;
        nyBooking.udlejet_shelter = nyUdlejet_Shelter;



        await Http.PostAsJsonAsync<Booking>("BookingsDB", nyBooking);
    }







}
