@page "/shelterdata"
@using shelterJADA.Shared
@inject HttpClient Http

<h1>Shelter Database</h1>

@if (ShelterListe == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Gem ændringer</th>
                <th>ShelterID</th>
                <th>Kommunekode</th>
                <th>Kommunenavn</th>
                <th>Shelternavn</th>
                <th>Antal pladser</th>
                <th>Beskrivelse</th>
            </tr>
        </thead>
        <tbody>
            @*Laver loop med hvert item i ShelterListe*@

            @foreach (var shelter in ShelterListe)
            {
            <tr>
                <td><input type="button" class="btn btn-primary" value="Opdater" @onclick="() => OpdaterShelter(shelter)"></td>
                <td> @shelter.Id</td>
                <td><input @bind="shelter.Properties.Kommunekode"></td>
                <td><input @bind="shelter.Properties.Cvr_navn"></td>
                <td><input @bind="shelter.Properties.Navn"></td>
                <td><input @bind="shelter.Properties.Antal_pl"></td>
                <td><input @bind="shelter.Properties.Beskrivels"></td>
               
            </tr>
            }
        </tbody>
    </table>
}

@code {

    @*Laver en tom shelterliste*@

    private List<Shelter> ShelterListe;


    @*Lægger data i shelterliste*@

    protected override async Task OnInitializedAsync()
    {
        ShelterListe = await Http.GetFromJsonAsync<List<Shelter>>("ShelterDB/all");

    }

    //Post-funktion til at opdatere en shelter
    protected async Task OpdaterShelter(Shelter shelter)
    {
        await Http.PostAsJsonAsync<Shelter>("ShelterDB/opdater", shelter);
    }

}
